// the navigation bar at the top
.topbar {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  background-color: #1E88E5;
  font-size: 1rem;
}

.topbar-logo {
  font-size: 1.5rem;
  color: #fff;
}

.topbar-logo-img {
  height: 1.2rem;
  object-fit: contain;
  margin-right: .5rem;
}

.topbar-nav {
    float: right;
    margin-top: .5rem;
}


.topbar-a {
  margin-left: 1.25rem;
  color: rgba(255, 255, 255, .5);

  &:hover, &:focus, &.selected {
    color: #fff;
  }
  
}